body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    padding: 0 200px;
    justify-content: space-between;
}

.header.section, .hero.section, .footer.section {
    background-color: #1f2937;
}

.hero {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .header {
    font-size: 48px;
    font-weight: bolder;
}

.header, .body, button {
    color: #f9faf8;
}

.header.section p {
    font-size: 24px;
}

.header.section ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header.section a {
    color: #f9faf8;
    text-decoration: none;
}

.call_to_action, button {
    background-color: #3882f6;
}

.featured_authors .header {
    background-color: #ffffff;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.quote {
    background-color: #e5e7eb;
}

.quote .body {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}